<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-top-bar">
        <div class="cs-top-container">
            <!--Nav Logo-->
            <a href="" class="cs-logo" aria-label="back to home">
                <img src="https://codestitch-intermediate.netlify.app/assets/svgs/logo-black.svg" alt="logo" width="197" height="43" aria-hidden="true" decoding="async">
            </a>
            <div class="cs-contact-group">
                <a class="cs-contact-link" href="mailto:{{ client.email }}">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/yellow-mail.svg" alt="icon" width="24" height="24">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-header">Found a bug?</span>
                        <span class="cs-link-content">Email us!</span>
                    </div>
                </a>
                <a class="cs-contact-link" href="https://www.codestitch.app/" target="_blank">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/yellow-pin.svg" alt="icon" width="24" height="24">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-header">Want more sections?</span>
                        <span class="cs-link-content">Visit CodeStitch!</span>
                    </div>
                </a>
                <a href="" class="cs-button-solid">Priority CTA</a>
            </div>
            <!--Dark Mode toggle, uncomment button code if you want to enable a dark mode toggle-->
            <button id="dark-mode-toggle" aria-label="dark mode toggle">
                <svg class="cs-moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480" style="enable-background:new 0 0 480 480" xml:space="preserve">
                    <path d="M459.782 347.328c-4.288-5.28-11.488-7.232-17.824-4.96-17.76 6.368-37.024 9.632-57.312 9.632-97.056 0-176-78.976-176-176 0-58.4 28.832-112.768 77.12-145.472 5.472-3.712 8.096-10.4 6.624-16.832S285.638 2.4 279.078 1.44C271.59.352 264.134 0 256.646 0c-132.352 0-240 107.648-240 240s107.648 240 240 240c84 0 160.416-42.688 204.352-114.176 3.552-5.792 3.04-13.184-1.216-18.496z"/>
                </svg>
                <img class="cs-sun" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsun.svg" decoding="async" alt="moon" width="15" height="15">
            </button>
        </div>
    </div>
    <!--Wrapped the bottom container in a wrapper div so we can have a full width background color, and centered the container inside of it-->
    <div class="cs-bottom-bar">
        <div class="cs-container">
            <!--Navigation List-->
            <nav class="cs-nav" role="navigation">
                <!--Mobile Nav Toggle-->
                <button class="cs-toggle" aria-label="mobile menu toggle">
                    <div class="cs-box" aria-hidden="true">
                        <span class="cs-line cs-line1" aria-hidden="true"></span>
                        <span class="cs-line cs-line2" aria-hidden="true"></span>
                        <span class="cs-line cs-line3" aria-hidden="true"></span>
                    </div>
                </button>
                <!-- All CodeStitch navigations use the same HTML within the cs-ul-wrapper.
                 This one has been built with eleventyNavigation in mind, so you don't need to manually set active link styles or adjust HTML whenever a new page is added.
                 Should you wish to use this way of working, just replace the .cs-ul-wrapper in the new navigation with the one below-->
                <div class="cs-ul-wrapper">
                    <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                        {% set navPages = collections.all | eleventyNavigation %}
                        {# Loop through all pages with a eleventyNavigation in the frontmatter #}
                        {% for entry in navPages %}
                            {# Define a hasChild variable to make it easier to test what links are dropdowns#}
                            {% set hasChild = entry.children.length %}

                            {# If this page is a dropdown, give it the appropriate classes, icons and accessibility attributes#}
                            <li class="cs-li {% if hasChild %} cs-dropdown {% endif %}" {% if hasChild %} tabindex="0"{% endif %}>

                                {# Similarly, if the link is active, apply the necessary classes #}
                                <a href="{{ entry.url }}" class="cs-li-link {% if entry.url == page.url %} cs-active {% endif %}">
                                    {{ entry.key }}
                                    {% if hasChild %}
                                        <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                                    {% endif %}
                                </a>

                                {# Dropdowns have another ul/li set up within the parent li. Render in the same way as a normal link #}
                                {% if hasChild %}
                                    <ul class="cs-drop-ul">
                                        {% for child in entry.children %}
                                            <li class="cs-drop-li">
                                                <a href="{{ child.url }}" class="cs-li-link cs-drop-link">{{ child.key }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
            <a class="cs-call" href="https://www.reddit.com/r/codestitch" target="_blank">
                <picture class="cs-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/adv-kit-reddit.svg" alt="icon" width="24" height="24">
                </picture>
                <div class="cs-info">
                    <span class="cs-header">Need help?</span>
                    <span class="cs-link-content">Visit our subreddit!</span>
                </div>
            </a>
        </div>
    </div>
</header>