/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #banner-1400 {
        padding: var(--sectionPadding);
        padding-top: 16.875rem;
        padding-bottom: 6.25rem;
        position: relative;
        z-index: 1;
        /* clips the line from causing overflow issues for going off screen */
        overflow: hidden;
    }
    #banner-1400 .cs-container {
        text-align: center;
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        /* 8px - 12px */
        gap: clamp(0.5rem, 1vw, 0.75rem);
    }
    #banner-1400 .cs-int-title {
        /* 39px - 61px */
        font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        margin: 0;
        color: var(--bodyTextColorWhite);
        position: relative;
    }
    #banner-1400 .cs-breadcrumbs {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #banner-1400 .cs-link {
        font-size: 1rem;
        line-height: 1.2em;
        text-decoration: none;
        color: var(--bodyTextColorWhite);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    #banner-1400 .cs-link:last-of-type {
        /* remove the chevron on the last list item */
    }
    #banner-1400 .cs-link:last-of-type::after {
        display: none;
    }
    #banner-1400 .cs-link:after {
        /* chevron */
        content: "";
        width: 0.4375rem;
        height: 0.75rem;
        margin: 0 1rem;
        background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/white-chev.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        position: relative;
    }
    #banner-1400 .cs-link.cs-active {
        color: var(--primary);
    }
    #banner-1400 .cs-background {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #banner-1400 .cs-background:before {
        /* gradient overlay */
        content: "";
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.4;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    #banner-1400 .cs-background:after {
        /* gradient overlay */
        content: "";
        width: 100%;
        height: 40%;
        background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(#000000),
            to(rgba(0, 0, 0, 0))
        );
        background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(
            to bottom,
            #000000 0%,
            rgba(0, 0, 0, 0) 100%
        );
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
    #banner-1400 .cs-background img {
        width: 100%;
        height: 100%;
        /* Makes img tag act as a background image */
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #banner-1400 .cs-background:before {
        width: 50%;
        height: 100%;
        background: -webkit-gradient(
            linear,
            left top,
            right top,
            from(#000000),
            to(rgba(0, 0, 0, 0))
        );
        background: -o-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(
            to right,
            #000000 0%,
            rgba(0, 0, 0, 0) 100%
        );
        opacity: 1;
    }
}
/*-- -------------------------- -->
  <---        Content Page        -->
  <--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #content-page-847 {
        padding: var(--sectionPadding);
        background-color: #fff;
        position: relative;
        z-index: 1;
        /* clips the wave background from causing overflow issues when it goes off screen */
        overflow: hidden;
    }
    #content-page-847 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
        position: relative;
    }
    #content-page-847 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 39.375rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }
    #content-page-847 h2,
    #content-page-847 h3,
    #content-page-847 h4,
    #content-page-847 h5,
    #content-page-847 h6 {
        font-weight: 700;
        text-align: inherit;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
    }
    #content-page-847 h2 {
        font-size: 2rem;
        margin-top: 2rem;
    }
    #content-page-847 h3 {
        font-size: 1.5rem;
        color: var(--primary);
    }
    #content-page-847 h4,
    #content-page-847 h5,
    #content-page-847 h6 {
        font-size: 1.25rem;
    }
    #content-page-847 .cs-button-solid {
        margin-bottom: 2rem;
    }
    #content-page-847 .cs-no-margin {
        margin: 0;
    }
    #content-page-847 .cs-color {
        color: var(--primary);
    }
    #content-page-847 p {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        margin: 0 0 1rem 0;
        color: var(--bodyTextColor);
    }
    #content-page-847 p:last-of-type {
        margin-bottom: 2rem;
    }
    #content-page-847 p a {
        font-size: inherit;
        line-height: inherit;
        text-decoration: underline;
        color: var(--primary);
    }
    #content-page-847 ol,
    #content-page-847 ul {
        margin: 0 0 2rem 0;
        padding-left: 1.5rem;
        color: var(--bodyTextColor);
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    #content-page-847 ul li {
        list-style: none;
        color: inherit;
        position: relative;
    }
    #content-page-847 ul li:before {
        /* custom list bullet */
        content: "";
        width: 3px;
        height: 3px;
        background: currentColor;
        opacity: 1;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 0.625rem;
        left: -0.75rem;
    }
    #content-page-847 img {
        width: 100%;
        height: auto;
        display: block;
    }
    #content-page-847 .cs-image-group {
        width: 50%;
        max-width: 33.875rem;
        display: none;
        flex-direction: column;
        gap: 1.25rem;
        position: relative;
    }
    #content-page-847 .cs-picture {
        width: 100%;
        /* 300px - 520px */
        height: clamp(18.75rem, 40vw, 32.5rem);
        /* prevents border from affecting height and width */
        box-sizing: border-box;
        box-shadow: 0px 3.3478px 50.2169px rgba(0, 0, 0, 0.16);
        display: block;
        position: relative;
        /* clips img tag corners */
        overflow: hidden;
    }
    #content-page-847 .cs-picture img {
        width: 100%;
        height: 100%;
        /* makes it act like a background image */
        object-fit: cover;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #content-page-847 .cs-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    #content-page-847 .cs-content {
        width: 60%;
        flex: none;
    }
    #content-page-847 .cs-image-group {
        display: flex;
    }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode #content-page-847 {
        background-color: var(--dark);
    }
    body.dark-mode #content-page-847 .cs-title,
    body.dark-mode #content-page-847 .cs-text,
    body.dark-mode #content-page-847 h2,
    body.dark-mode #content-page-847 h3,
    body.dark-mode #content-page-847 h4,
    body.dark-mode #content-page-847 h5,
    body.dark-mode #content-page-847 h6,
    body.dark-mode #content-page-847 li,
    body.dark-mode #content-page-847 p {
        color: var(--bodyTextColorWhite);
    }
    body.dark-mode #content-page-847 .cs-color,
    body.dark-mode #content-page-847 a {
        color: var(--primaryLight);
    }
    body.dark-mode #content-page-847 p,
    body.dark-mode #content-page-847 li {
        color: #ebebeb;
    }
    body.dark-mode #content-page-847 .cs-picture {
        background-color: var(--dark);
        border-color: var(--dark);
    }
}
